body{
    background-color: rgb(207 209 185);
    text-align: center;
    margin: 0px;
}
.App{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -25%);
    width: max-content;
}
header{
    background-color: black;
    color: white;
    padding: 10px;
}
.header_elem{
    color:White;
    margin:10px
}
.list{
    background-color: #1aa564;
    width: 255PX;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
}
li{
    list-style-type: none;
    font-size: 20px;
    color: white;
}
.button1{
    padding: 5px;
    border-radius: 5px;
    background-color: #205b07;
    color: rgb(242 230 230);
    font-weight: 600;
    border: rgb(4, 16, 20) 2px solid;
    width: 80px;
    margin: 20px;
}
.input{
    padding: 5px;
    background-color: rgb(226 225 215);
    color: black;
    outline: none;
    border: rgb(0, 12, 15) 2px solid;

}
.button2{
    padding: 5px;
    border-radius: 5px;
    background-color: red;
    color: white;
    font-weight: 600;
    border: red 2px solid;
    width: 50px;
    margin: 20px;
}